/*------------------------------------------------------------- Common CSS rules ------------------------------------------------------------------------------------*/

/* Saves some colors into variables*/
:root {
    --dark_blue: #0A1828;
    --blue-purple:rgb(16, 16, 39);
}

/* Inserts the Nunito Sans font*/
@font-face {
    font-family: 'Nunito Sans';
    src: url('fonts/nunitosans-regular-webfont.woff2') format('woff2'),
         url('fonts/nunitosans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Inserts the slabo font*/
@font-face {
    font-family: 'slabo';
    src: url('fonts/slabo13px-regular-webfont.woff2') format('woff2'),
         url('fonts/slabo13px-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Sets the background color and text color of the footer. Also positions the footer at the bottom and makes it cover all the page width */
footer {
    color:white;
    background-color: rgb(17, 16, 16);
    width: 100%;
    bottom:0;
    left: 0;
    grid-row: 3;
    width: 100%;
}

/* Sets the border sizing of all elements to border box */
* {
    box-sizing: border-box;
}

/* Sets the header element at the first row of the grid */
header {
    grid-row: 1; 
}

/* Sets the main element at the second row of the grid */
main {
    grid-row: 2; /* Το κεντρικό περιεχόμενο στη δεύτερη γραμμή */
    width: 100%;
    height: 100%;
}

/* Resets some default margin and padding for the body */

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Three row are set up: one for header, one for main and one for footer*/
    grid-template-columns: auto; /* There's one row */
    min-height: 100vh;
    position: relative;
    font-family: 'Nunito Sans',sans-serif;
    
}

/* Makes the scrolling behavior smooth */
html {
    scroll-behavior: smooth;
}


/*------------------------------------------------------------- Komnas Kafasis CSS rules ------------------------------------------------------------------------------------*/

/* Changes the padding for suv and motocross main element */
.products-list {
    padding: 3em;
    background-color: var(--dark_blue);
}

/* Aligns the copyright text to the center*/
.copyright {
    text-align: center;
}

/* Center and changes the font size of the "Our Developers" text */
#devs {
    text-align: center;
    font-size: 3.3em;
    color: gold;
}

/* Changes the margin of the social media section */
.social-media {
    margin: 2em;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

/* Adjust the item position in the grid*/
.social-media h3 {
    grid-column: 2/4    ;
    grid-row: 1/2;
}

/* Adjust the item position in the grid*/
#social-1 {
    grid-row: 2/3;
    grid-column: 1/2;
}

/* Adjust the item position in the grid*/
#social-2 {
    grid-row: 2/3;
    grid-column: 2/3;
}

/* Adjust the item position in the grid*/
#social-3 {
    grid-row: 2/3;
    grid-column: 3/4;
}

/* Changes image dimensions and box model of the social media images  */
.social-media img {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0.8em;
}

/* Changes the margin of thecontact deatails section */
.contact-details {
    margin: 2em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto ;
}

/* Changes image dimensions of email image  */
.contact-details img{
    display: block;
    width: 40px;
    height: 40px;
}


/* Changes color of email link when mouse hovers over it */
.contact-details a:hover:nth-child(2n) {
    color:chocolate;
}

/* Changes the margin of the payment methods section */
.payment-methods {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin: 2em;
    justify-content: space-evenly;
}

/* Adjust the item position in the grid*/
.payment-methods h3 {
    grid-row: 1/2;
    grid-column: 1/5
}

/* Adjust the item position in the grid*/
#payment-1 {
    margin-right: 0.3em;
    grid-row: 2/3;
    grid-column: 1/2;
}

/* Adjust the item position in the grid*/
#payment-2 {
    margin-right: 0.3em;
    grid-row: 2/3;
    grid-column: 2/3;
}

/* Adjust the item position in the grid*/
#payment-3 {
    margin-right: 0.3em;
    grid-row: 2/3;
    grid-column: 3/4;
}

/* Adjust the item position in the grid*/
#payment-4 {
    margin-right: 0.3em;
    grid-row: 2/3;
    grid-column: 4/5;
}

/* Overwrites the inherited property where the cursor was a pointer */
.payment-methods div {
    cursor: auto;
}

/* Changes image dimensions, margin and border radius of suv images  */
.suv-item > img {
    width: 500px;
    height: 300px;
    border-radius: 8px;
    margin: 0.6em;
}

/* Changes font size of the text, box model and border in motocross and suv products. Also adds shadows */
.motocross-item, .suv-item{
    font-size: 1.3em;
    margin: 5em;
    padding: 2em;
    border-style: solid;
    border-width: medium;
    border-radius: 5px;
    border-color: black;
    box-shadow: 0 5px 10px 5px gray;
    font-family: sans-serif;
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* Sets up the box model and style of the button in motocross and suv listings*/
.motocross-item > button,.suv-item > button, .suv-item form button {
    background-color: whitesmoke;
    padding: 15px 30px;
    font-size: medium;
    color: black;
    border-radius: 5px;
    box-shadow: 0 9px #999;
    border: none;
    cursor: pointer;
    width:fit-content;
}

/* Sets up the behaviour of suv and motocross buttons when clicked. Specifically it sets the shadow and going down by 4 pixels on the Y axis*/

.motocross-item > button:active,.suv-item > button:active, .suv-item form button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* Sets the font family and size of the paragraphs inside motocross-item class*/
.motocross-item p {
    font-family: sans-serif;
    font-size: 1.2em;
}

/* Changes the font sixe of the product title of suvs and motocrosses */
.motocross-item h3, .suv-item h3 {
    font-size: xx-large;
}

/* Changes the box model and font size of all categories */
.category-item {
    font-size: 1.7em;
    padding: 1.2em;
    margin: 0;
    width: 100%;
    font-family: sans-serif;
    color: white;
    border: solid gray;
}


/* Changes the height of the images of all categories and puts a black border around them. Also sets the transition delay */
.category-item > img{
    width: auto;
    height: 800px;
    border: solid black;
    transition: 0.7s;
    cursor: pointer;
}

/* Sets the opacity to 0,7 when the mouse hovers over a category image */
.category-item >  img:hover {
    opacity: 0.7;
}
 
/* Sets the transition delay based on the color change */
.category-item h2,li {
    width: fit-content;
    transition: color 0.7s;
    cursor: pointer;
}

/* Sets the color to be changed after hovering over the h2 and li items */
.category-item h2:hover,li:hover {
    color: #0A1828;
}

/* Removes the text decoration and default link color */
.category-item a:link, a:active, a:visited {
    text-decoration: none;
    color: inherit;
   
}

/* Changes image dimensions, margin and border radius of motocross images  */
.motocross-item > img {
    width: auto;
    height: 300px;
    border-radius: 8px;
    margin: 0.6em;
}

/* Changes the font size of the name of the developers */
.dev-desc > h3 {
    font-family: 'slabo',sans-serif;
    font-size: 2.5em;
}

/* Changes the font size of the description of the developers */
.dev-desc > p {
    font-size: 1.5em;
}

/* makes the bullets in the list of images dissapear */
.payment-methods > ul, .social-media > ul, .category-item > ul {
    list-style-type: none;
}


/* Changes the box model and background color of the section of each developer */
.dev-desc {
    padding: 3em;
    border: solid rgb(4, 99, 4);
    margin: 5em;
    background-color:var(--blue-purple);
    font-family: sans-serif;
    box-shadow: 5px 5px 10px 10px greenyellow ;
    color: #869ba9;
}

/* Puts a black border around the image of each developer */
.dev-desc >  img {
    border: solid black;
    float: left;
    margin-right: 5em;
    margin-bottom: 2em;
}

/* Sets the height and right margin of the email image */
.dev-desc address img {
    height: 50px;
    margin-right: 0.5em;
}


/* Sets the font size for the emial link */
.dev-desc a {
    font-size: 1.7em;
}

/* Sets the color when the mouse hovers over the email link */
.dev-desc a:hover {
    color: chocolate;
}

/* Sets the color for the heading and makes the heading stay on the left side even though the image has a float:left property */
.dev-desc h3 {
    color: goldenrod;
    clear: left;
}

/* Sets the paragraph text font size */
.dev-desc p {
    font-size: 30px;
}


/* Sets an animetion when the mouse hovers over the email image */
.dev-desc address img:hover {
    animation: shake 0.3s linear;
}

/* Sets up the shake animation */
@keyframes shake {
    33%{
        transform: rotate(10deg);
    }

    66%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(10deg);
    }
}

/* Changes the background color of the certain category */
#category-1 {
    background-color: #005B41;
}

/* Changes the background color of the certain category */
#category-2 {
    background-color: #008170;
}

/* Changes the background color of the certain category */
#category-3 {
    background-color:#183D3D ;
}

/* Changes the background color of the certain category */
#category-4 {
    background-color: #5C8374;
}

/* Changes the background color of the certain category */
#category-5 {
    background-color:#93B1A6;
}

/* Changes the background color of the certain category */
#category-6 {
    background-color: #232D3F;
}

#about-us {
    background-color: var(--dark_blue) ;
}

/* Sets up the container padding */
.container {
    padding: 2rem;
}

/* Sets up the slider wrapper position, margin and max width */
.slider-wrapper {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

/* Sets up the slider properties that contain the slides. Specifically it sets up a shadow and the scrolling behavior and type. Also rounds the images edges */
.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

/* Make the slider images fit the slider wrapper */
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

/* Sets up the slider nav dots position */
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left:50%;
    transform: translate(-50%);
    z-index: 1;
}

/* Sets up the dot links color, opacity, transition when hovered over and size */
.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: gray;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

/* Sets up the opacity when the mouse hovers over the dots */
.slider-nav a:hover {
    opacity: 1;
}

/* Sets the style for the ad*/
.motocross-item p:nth-of-type(4), .suv-item p:nth-of-type(4) {
    color: gray;
}

/* Adjusts the layout of the developer email image and link elements using flex box */
.dev-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Adjusts the layout of the developer cards using flex box */
.dev-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Adjusts the layout of the suv and motocross product lists using flex box */
.products-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

/* Adjusts the layout of the footer element using flex box */
.footer-container {
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content:flex-start;
}

/* Adjusts the layout of the adress element using flex box */
.adress-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Adjusts the grid container for the categories pages */
.categories-container {
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    height: 100%;
}


/*------------------------------------------------------------- Vasilis Stagakis CSS rules ------------------------------------------------------------------------------------*/